/**
 * Address
 */

.newspack-location-setup {
	&__city-zip {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.newspack-text-control {
			margin: 0;
			width: 100%;

			@media screen and ( min-width: 600px ) {
				width: calc( 50% - 48px / 2 );
			}

			@media screen and ( min-width: 744px ) {
				&:first-of-type {
					width: calc( 100% / 5 * 3 - 48px / 2 );
				}

				&:nth-of-type( 2 ) {
					width: calc( 100% / 5 * 2 - 48px / 2 );
				}
			}

			label {
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
