/**
 * Columns
 */

.newspack-columns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 32px 0;

	// Media Queries
	@media screen and ( min-width: 744px ) {
		& + & {
			margin-top: 64px;
		}
	}
}
