/**
 * Column
 */

.newspack-column {
	width: 100%;

	@media screen and ( min-width: 744px ) {
		width: calc( ( 100% / 2 ) - ( 64px / 2 ) );
	}

	& + & {
		padding-top: 32px;

		@media screen and ( min-width: 744px ) {
			padding-top: 0;
		}
	}

	// Wide

	&__wide {
		@media screen and ( min-width: 744px ) {
			width: calc( ( 100% / 2 ) - ( 32px / 2 ) );
		}
	}

	// Three Columns

	&s__three & {
		@media screen and ( min-width: 744px ) {
			width: calc( ( 100% / 3 ) - ( 64px * 2 / 3 ) );
		}
	}

	&s__three &__wide {
		@media screen and ( min-width: 744px ) {
			width: calc( ( 100% / 3 ) - ( 32px * 2 / 3 ) );
		}
	}

	// Four Columns

	&s__four & {
		@media screen and ( min-width: 744px ) {
			width: calc( ( 100% / 4 ) - ( 64px * 3 / 4 ) );
		}
	}

	&s__four &__wide {
		@media screen and ( min-width: 744px ) {
			width: calc( ( 100% / 4 ) - ( 32px * 3 / 4 ) );
		}
	}

	// First Child
	> *:first-child {
		margin-top: 0 !important;
	}

	// Last Child
	> *:last-child {
		margin-bottom: 0 !important;
	}
}
